@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF-Pro-Display-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SF-Pro-Text-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SF-Pro-Text-Medium.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SF-Pro-Text-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
.banner {
  min-width: 320px;
  max-width: 812px;
  width: 100%;
}
.banner__main-content {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 89px;
  margin-bottom: 47px;
}
.banner__main-content h1 {
  font-family: SF Pro Display;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.0492308px;
  color: #333333;
  margin-bottom: 31px;
}
.banner__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 14px 29px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #EE334B;
  border-radius: 100px;
}
.banner__button h2 {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.0352px;
  text-transform: uppercase;
  color: #EE334B;
}
.banner__button h2 span {
  font-weight: 300;
  font-size: 12px;
  line-height: 17px;
  text-transform: lowercase;
  letter-spacing: 0.0301714px;
}
.banner__button button {
  background: linear-gradient(270deg, rgba(255, 86, 141, 0.98) 0%, rgba(245, 1, 71, 0.98) 100%);
  border-radius: 100px;
  border: none;
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.0192px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 140px;
  height: 41px;
}
.banner__button button:focus {
  outline: none;
}
.banner__button button:active {
  border-style: none;
}
.banner__button--trial {
  margin-bottom: 16px;
}
.banner__button--join {
  margin-bottom: 32px;
}
.banner__access {
  margin: 0 auto;
  list-style: none;
}
.banner__access li {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: -0.65px;
  color: #000000;
}
.banner__access li:before {
  content: url('../img/days_checked.svg');
  width: 11px;
  height: 11px;
  margin-right: 11px;
}
.banner__subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
  margin-bottom: 9px;
}
.banner__subscription p,
.banner__subscription a {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.56;
}
.banner__subscription-text {
  z-index: 3;
}
.banner__link--terms {
  margin-right: 10px;
}
.banner__fader {
  width: 100%;
  height: 42px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.0001) 0%, #FFFFFF 88.45%);
  position: fixed;
  bottom: 0;
  z-index: 2;
}
